.sectionIgredientsUl {
  list-style: none;
}
.wrapperSectionIngredients {
  background-image: url("../../Images/ingredients.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.headerSectionIngredients {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
}

.sidebar {
  border-right: 2px dashed grey;
}