.pageSectionIngredients .largeHeader {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)) !important;
}
.contentIngredients {
  padding-top: 410px;
}
.sectionIgredientsUl {
  list-style: none;
  padding-left: 68px;
}
.sectionIgredientsItem {
  margin-bottom: 7px;
}
.sectionIgredientsLink {
  color: wheat;
  font-weight: bold;
}
.sectionIgredientsLink:hover,
.sectionIgredientsLink:active,
.sectionIgredientsLink:visited{
  color: wheat;
  border: 1px solid lightgrey;
  padding: 3px;
  border-radius: 3px;
  margin-left: -4px;
}
.sectionIgredientsLink:hover {
  text-decoration: none;
}
.wrapperSectionIngredients {
  background-image: url("../../Images/ingredients.jpg");
  background-repeat: repeat;
  min-height: 100%;

}

@media (max-width: 492px) {


  .sectionIgredientsUl {
    padding-left: 10px;
  }
  .rowImgSectionIngredients {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 660px) and (max-width: 768px) {
  .ih-item.square {
    width: 90% !important;
    height: 100% !important;

  }

  .sectionIgredientsUl {
    padding-left: 60px;
  }
  .rowImgSectionIngredients {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 490px) {
  .titleSectionIgredients {
    font-size: 20px !important;
  }
}

.sidebar {
  border-right: 2px dashed grey;
}

.titleSectionIgredients {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
}
.ih-item.square {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 3px white;
  margin-bottom: 10%;
}
.ih-item img {
  border-radius: 11px;
}
.rowImgSectionIngredients {
  margin-bottom: 80px;
}
.page-link {
  color: black !important;
}

.headerSectionIngredients {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)) !important;
}

@media (min-width: 531px) and (max-width: 768px) {
  .text-center {
    margin-left: -120px;
  }
}
@media (max-width: 530px) {
  .pagination-sm > li.page-item {
    display: none !important;
  }
  .pagination-sm > li.first,
  .pagination-sm > li.prev,
  .pagination-sm > li.next,
  .pagination-sm > li.last {
    display: inline !important;
  }
  .text-center {
    margin-left: -150px;
  }
}

@media (min-width: 420px) and (max-width: 605px) {
  .infoIngredientsTitle {
    font-size: 14px !important;
    margin: 20px 0 0 0 !important;
  }
  .infoIngredientsDescription {
    padding-top: 15px !important;
  }
}

@media (max-width: 420px){
  .infoIngredientsTitle {
    font-size: 10px !important;
    margin: 15px 0 0 0 !important;
  }
  .infoIngredientsDescription {
    font-size: 9px !important;
    padding-top: 5px !important;
  }
}

@media (max-width: 364px){
  .infoIngredientsDescription {
    display: none !important;
  }
}