* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.wrapper {
  min-height: 100%;

}
.header {
  height: 100px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
}
@media (max-width: 991px) {
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    height: 120px;
    position: fixed;
  }
}

.content {
  padding-bottom: 320px;

}
.footer {
  margin-top: -320px;
  height: 320px;
  background-color: #191919;
  border-bottom: 6px solid #303030;
}
.row {
  margin: 0;
}
.scrollToTop {
  border-radius: 41px;
  width: 40px;
  height: 40px;
}